* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap%27');
body {
    background: #1E2D3B;
    min-height: 100vh;
    font-family: 'Arimo', sans-serif;
}

.container {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 70px;
    background: rgb(46, 58, 70);
}
header img {
    height: 50px;
}
.schede-container {
    flex-wrap: wrap;
    padding: 50px 0;
}

.scheda {
    width: calc(20% - 20px);
    padding: 10px;
    margin: 10px;
    height: 335px;
    background: rgb(46, 58, 70);
    text-align: center;
    overflow: hidden;
}
.scheda .img-film{
  width: 100%;
  overflow: hidden;
  background: #BCBEC0;
}
.scheda .img-film img {
    max-width: 100%;
}
.scheda .flag img {
  width: 30px;
  height: 25px;
}
.scheda .info-film {
  height: 200px;
  width: 100%;
  overflow: hidden;
  display:none;
}
.scheda .info-film .title-film{
  height: 70px;
  overflow: hidden;
}
.scheda h3 {
    margin-top: 5px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}
.scheda .info-film span.vote i {
    color: red;
    font-size: 20px;
}

.scheda .info-film span.year {
    color: grey;
    font-size: 13px;
}

/* classi flex */
.d-flex{
  display: flex;
}
.flex-dir-col{
  flex-direction:column;
}
.flex-jc-center{
  justify-content: center;
}
.flex-jc-space-b{
  justify-content: space-between;
}
.flex-jc-space-a{
  justify-content: space-around;
}
.flex-jc-start{
  justify-content: flex-start;
}
.flex-jc-end{
  justify-content: flex-end;
}
.flex-align-center{
  align-items: center;
}
.align-self-end{
  align-self: flex-end;
}
